/*Entire page*/
body * {
  display: flex;
  flex-wrap: wrap;
}

body {
  /*background-color: rgba(148, 103, 87, 0.24);*/
  background-color: rgba(87, 134, 148, 0.25);
  color: #000042;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

/*Header*/
header {
  float: left;
  color: darkgreen;
  width: 55%;
}

.header-subtitle {
  font: 250%/1.6 'Rubik', sans-serif;
  border: 3px solid darkgreen;
  padding: 0 30px 0;
}

/*Body*/
.submissions-body {
  padding: 0 40px 0;
  float: left;
  width: 55%;
}

.submissions-image {
  width: 30%;
  max-width: 1824px;
  max-height: 1392px;
  padding: 4em 40px;
  display: block;
}

.submissions-about {
  padding: 0 40px 0;
  float: left;
  width: 30%;
  text-align: center;
}

@media screen and (max-width: 1099px) {
  .submissions-body {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .submissions-image {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .submissions-about {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .submissions-history {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.submissions-paragraph {
  font: 125%/1.6 'Rubik', sans-serif;
  float: left;
}

ul.submissions-paragraph {
  display: block;
}

ul.submissions-paragraph li {
  display: list-item;
}

.disclaimer-info {
  font: 90%/1.2 'Rubik', sans-serif;
  font-style: italic;
}

.thesis-para {
  display: inline;
}

.thesis-question {
  font-style: italic;
  font-weight: bold;
  display: inline;
}

.email-para {
  display: inline;
}

.thefloodemail {
  display: inline;
}
